@model EgeUmutTali_Ödev1.Models.Employee

@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<form asp-action="AddEmployee" method="post">
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TitleOfCourtesy"></label>
        <input asp-for="TitleOfCourtesy" class="form-control" />
        <span asp-validation-for="TitleOfCourtesy" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" class="form-control" type="date" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HireDate"></label>
        <input asp-for="HireDate" class="form-control" type="date" />
        <span asp-validation-for="HireDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Region"></label>
        <input asp-for="Region" class="form-control" />
        <span asp-validation-for="Region" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PostalCode"></label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Country"></label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HomePhone"></label>
        <input asp-for="HomePhone" class="form-control" />
        <span asp-validation-for="HomePhone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Extension"></label>
        <input asp-for="Extension" class="form-control" />
        <span asp-validation-for="Extension" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Photo"></label>
        <input asp-for="Photo" class="form-control" />
        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Notes"></label>
        <textarea asp-for="Notes" class="form-control"></textarea>
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReportsTo"></label>
        <input asp-for="ReportsTo" class="form-control" />
        <span asp-validation-for="ReportsTo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhotoPath"></label>
        <input asp-for="PhotoPath" class="form-control" />
        <span asp-validation-for="PhotoPath" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
    <div>
        <a href="/Home/Index">Go Back</a>
    </div>
</form>



